/*
   Product: Info box stylesheet of StarOS Map project.
   Description: This stylesheet contain all mapInfo balises css.
   License: http://creativecommons.org/licenses/by/3.0/legalcode

   Version: 0.1								Date: 2014-
   By Blackcancer
  
   website: 
   support: blackcancer@initsysrev.net
*/

@charset "utf-8";
#mapInfoButton{
	background-image: url(../../../res/img/starmap/buttonUnroll.png);
	position: absolute;
	width: 220px;
	height:	20px;
}
#mapInfo{
	background-image: url(../../../res/img/starmap/infobox.png);
	position: absolute;
	width: 220px;
	height:	270px;
	margin:0px; 
	padding:0px;
	font-size: 8px;
	font-family: "Neuropolitical Rg";
	color: #b4ffff;
	text-shadow: 0 0 10px #80ffff;
}

	#mapInfPic{
		position: absolute;
		left: 40px;
		top: 5px;
	}
	
	#mapInfName{
		position: absolute;
		top:115px;
		font-size: 12px;
	}
	#mapInfType{
		position: absolute;
		left: 5px;
		top: 150px;
	}
	#mapInfPos{
		position: absolute;
		left: 5px;
		top: 165px;
	}
	#mapInfFac{
		position: absolute;
		left: 5px;
		top: 180px;
	}
	
	#mapInfMass{
		position: absolute;
		left: 5px;
		top: 200px;
	}
	
	#mapInfPow{
		position: absolute;
		left: 5px;
		top: 215px;
	}
	
	#mapInfSh{
		position: absolute;
		left: 5px;
		top: 230px;
	}
	
	#mapInfShRate{
		position: absolute;
		left: 5px;
		top: 245px;
	}